@import "animations.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #111111;
    --accent-purple: #28051b;

    --neon-pink: #FE019A;
    --neon-pink-center: #FFB0DF;
    --neon-yellow: #bf8f00;
    --neon-yellow-center: #fff780;
    --neon-blue: #009c97;
    --neon-blue-center: #8afdf9;
    --neon-green: #1da904;
    --neon-green-center: #b9ffb7;

}

.tilt-neon {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}

body {
    display: flexbox;
    background-color: var(--accent-purple);
    font-family: 'tilt-neon', sans-serif;
}


.navbar {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-radius: 10px;
    border-style: double;
    border-width: 4px;
    border-color: var(--neon-pink-center);
    box-shadow: 0px 0px 8px 2px var(--neon-pink);
    transition: 0.7s;
    animation: slide-from-top ease-in-out 1s;
    margin: 20px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background: linear-gradient(var(--accent-purple) 5%, rgba(0, 0, 0, 0) 100%);
}


.name-neon-text {
    font-size: 2.5em;
    margin: 0 0 0 0;
    padding: 4px 8px 4px 0px;
    text-decoration: none;
    transition: 0.7s ease;
}

.name-neon-text:hover {
    transform: scale(1.05);
}

.nav-menu {
    list-style: none;
    display: flex;
    text-align: left;
    align-items: center;
    gap: 30px;
}


.nav-link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.35em;
    transition: 0.7s ease;
}

.nav-link:hover {
    transform: scale(1.15);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--neon-yellow-center);
    box-shadow: 0px 0px 8px 2px var(--neon-yellow);
}

@media(max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -200%;
        top: 67px;
        gap: 0;
        flex-direction: column;
        background-color: var(--main-color);
        transition: 0.7s ease-in-out;
        left: 150%;
        right: -10px;
        z-index: 1;
        border-radius: 0px 0px 10px 10px;
        border: 4px double var(--neon-pink-center);
        box-shadow: 0px 0px 8px 2px var(--neon-pink);
    }

    .name-neon-text {
        font-size: 2.0rem;
    }

    .nav-link {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 10px;
        right: 10px;
        transition: 0.5s ease-in-out;
    }

    .navbar.active {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .navbar.active {
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-radius: 10px 10px 0px 0px;
        border-style: double;
        border-width: 4px;
        border-color: var(--neon-pink-center);
        box-shadow: 0px 0px 8px 2px var(--neon-pink);
        animation: slide-from-top ease-in-out 1s;
        margin: 10px;
    }

    #only-mobile {
        display: flex;
        margin: -20px 20px 20px 20px;
    }


    .home-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-items: center;
        align-items: center;
    }

    .welcome-message {
        grid-area: 1 / 1 / 2 / 2;
        /* border: 4px double var(--neon-pink-center); */
        margin-top: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 40px 0px;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
    }

    .welcome-text {
        font-size: 4rem;
        color: black;
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 0 0 15px;
        animation: fade-in ease-in-out 1.5s;
        margin: 20px;
    }

    .profile-photo {
        grid-area: 2 / 1 / 3 / 2;
        margin: -40px 20px 20px 20px;
        /* border: 4px double var(--neon-green); */
        animation: slide-from-left ease-in-out 1.5s;
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('profile.jpg');
        background-size: cover;
        background-position: center;
        background: radial-gradient(circle at center, white 5%, var(--neon-pink-center) 35%, var(--neon-pink) 60%, var(--accent-purple) 70%);
    }

    .introduction {
        grid-area: 3 / 1 / 4 / 2;
        /* border: 4px double var(--neon-yellow); */
        animation: slide-from-right ease-in-out 1.5s;
        margin-top: -60px;
        padding: 16px;
        display: flexbox;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;
        background-color: var(--main-color);
    }

    .profile-image {
        height: 100%;
        width: 100%;
        border-radius: 55%;
        transform: translateY(-5px);
    }

    .greeting {
        margin-top: 0px;
        padding-bottom: 16px;
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 1px 0 8px;
        font-size: 3rem;
    }

    .paragraph {
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 1px 0 8px;
    }

    .intro-text {
        font-size: 1.5rem;
        padding: -200px 0px 0px 20px;
    }

    .headline {
        font-size: 4rem;
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 0 0 10px;
        animation: fade-in ease-in-out 1.5s;
        text-align: center;
    }

    .about-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: white;
    }

    .headline-div {
        grid-area: 1 / 1 / 2 / 3;
        /* border: 4px double var(--neon-yellow-center); */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
    }

    .about-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr repeat(3, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--main-color);
    }

    .headline-div {
        grid-area: 1 / 1 / 2 / 2;
        /* border: 4px double var(--neon-yellow-center); */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
    }

    .passions {
        grid-area: 3 / 1 / 4 / 2;
        background-color: var(--main-color);
    }

    .interests {
        grid-area: 4 / 1 / 5 / 2;
        background-color: var(--main-color);
    }

    .education {
        grid-area: 2 / 1 / 3 / 2;
        padding: 20px;
        animation: fade-in ease-in-out 2s;
    }


    .skills {
        grid-area: 4 / 1 / 5 / 3;
        padding: 20px;
        background-color: red;
    }

    .coursework {
        font-size: 1.5rem;
        margin: -10px 20px 20px 20px;
        padding: 16px;
    }

    .coursework li {
        list-style-type: circle;
        padding: 6px;
    }

    #only-desktop {
        display: none;
    }

    .list-element {
        font-size: 1.5rem;
        padding-bottom: 10px;
        margin-left: 20px;
    }

    .skills-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 0.5fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .skills-headline {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 4rem;
        animation: fade-in ease-in-out 1.5s;
        margin-top: 40px;
        text-align: center;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
    }

    .language {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }

    .language-skills {
        grid-area: 3 / 1 / 4 / 2;
        margin-top: -20px;
    }

    .frameworks {
        grid-area: 4 / 1 / 5 / 2;
        text-align: center;
    }

    .frameworks-skills {
        grid-area: 5 / 1 / 6 / 2;
        margin-top: -20px;
    }

    .software {
        grid-area: 6 / 1 / 7 / 2;
        text-align: center;
    }

    .software-skills {
        grid-area: 7 / 1 / 8 / 2;
        margin-top: -20px;
    }

    .skill-type {
        font-size: 1.5rem;
        margin: 20px;
        place-content: center;
        animation: slide-from-left ease-in-out 1.5s;
    }

    .skills {
        margin: 20px;
        padding: 16px;
        background-color: var(--main-color);
        animation: slide-from-right ease-in-out 1.5s;
    }

    .skills li {
        list-style-type: circle;
        padding: 6px 16px;
        display: inline-block;
        font-size: 1.75rem;
    }

    .projects-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr;
        /*1fr 1fr;*/
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--main-color);
    }

    .proj-1 {
        grid-area: 2 / 1 / 3 / 2;
        animation: slide-from-left ease-in-out 1.5s;
    }

    .proj-2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .proj-3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .project-name {
        font-size: 2.5rem;
        padding: 16px;
    }

    .tech-used {
        font-size: 2rem;
        margin-top: -16px;
        padding-left: 16px;
    }

    .project-desc {
        font-size: 1.5rem;
        margin-top: -16px;
        padding: 32px;
    }

    .demo-imgs {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .project-img {
        height: 250px;
        width: 250px;
        border-radius: 10px;
        border: 8px double var(--neon-yellow-center);
        box-shadow: 0px 0px 8px 2px var(--neon-yellow);
        align-self: center;
        margin: 20px;
        place-self: center;
    }

    .contact-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .contact-headline {
        grid-area: 1 / 1 / 2 / 2;
        justify-content: center;
        align-items: center;
        margin: 20px;
        height: 4rem;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
        padding-top: -16px;
        /* border: 4px double var(--neon-green-center); */
    }


    .contact-link {
        height: 150px;
        width: 150px;
        padding: 16px;
    }

}

@media(min-width: 768px) {
    #only-mobile {
        display: none;
    }

    .home-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: center;
    }


    .welcome-message {
        grid-area: 1 / 1 / 3 / 6;
        margin: 0px 20px;
        /* border: 4px double var(--neon-pink-center); */
        justify-content: center;
        text-align: center;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
    }

    .welcome-text {
        font-size: 6rem;
        color: black;
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 0 0 15px;
        animation: fade-in ease-in-out 1.5s;
        margin: 20px;
    }

    .profile-photo {
        grid-area: 3 / 1 / 6 / 3;
        margin: -40px 20px 20px 20px;
        /* border: 4px double var(--neon-green); */
        animation: slide-from-left ease-in-out 1.5s;
        background-image: url('profile.jpg');
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 400px;
        display: block;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at center, white 5%, var(--neon-pink-center) 35%, var(--neon-pink) 60%, var(--accent-purple) 70%);
    }


    .introduction {
        grid-area: 3 / 3 / 6 / 6;
        margin: -40px 20px 20px 20px;
        /* border: 4px double var(--neon-yellow-center); */
        animation: slide-from-right ease-in-out 1.5s;
        left: 460px;
        padding: 16px;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);

    }

    .profile-image {
        height: 100%;
        width: 100%;
        border-radius: 55%;
        transform: translateY(-3px);
    }

    .greeting {
        padding-bottom: 16px;
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 1px 0 8px;
        font-size: 3rem;
    }

    .paragraph {
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 1px 0 8px;
    }

    .intro-text {
        font-size: 1.5rem;
    }

    .about-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.5fr 0.75fr 0.75fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--main-color);
    }

    .headline-div {
        grid-area: 1 / 1 / 2 / 3;
        /* border: 4px double var(--neon-yellow-center); */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
    }

    .passions {
        grid-area: 3 / 1 / 4 / 2;
        background-color: var(--main-color);
    }


    .neon-block:last-child {
        margin-right: 20px;
    }

    .interests {
        grid-area: 3 / 2 / 4 / 3;
        background-color: var(--main-color);
    }

    .list-element {
        font-size: 1.75rem;
        padding-bottom: 10px;
        margin-left: 20px;
    }

    .education {
        grid-area: 2 / 1 / 3 / 3;
        margin: 20px;
        /* border: white solid 4px; */
        animation: fade-in ease-in-out 2s;

    }

    .headline {
        font-size: 6rem;
        color: var(--neon-pink-center);
        text-shadow: var(--neon-pink) 0 0 10px;
        animation: fade-in ease-in-out 1.5s;
        text-align: center;
    }

    .discipline {
        font-size: 2.5rem;
        margin: 0px 20px;
    }

    .coursework {
        font-size: 1.5rem;
        margin: -10px 20px 20px 20px;
        padding: 16px;
    }

    .coursework li {
        display: inline-block;
        padding: 6px;
    }

    .skills-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }


    .language {
        grid-area: 2 / 1 / 3 / 2;
        text-align: center;
    }

    .language-skills {
        grid-area: 2 / 2 / 3 / 3;
    }

    .frameworks {
        grid-area: 3 / 2 / 4 / 2;
        text-align: center;
    }

    .frameworks-skills {
        grid-area: 3 / 1 / 4 / 3;
        width: 50%;
    }

    .software {
        grid-area: 4 / 1 / 5 / 2;
        text-align: center;

    }

    .software-skills {
        grid-area: 4 / 2 / 5 / 3;
    }

    .skill-type {
        font-size: 2.0rem;
        place-content: center;
    }

    .skills {
        margin: 20px;
        padding: 16px;
        background-color: var(--main-color);
    }

    .skills li {
        list-style-type: circle;
        padding: 6px 16px;
        display: inline-block;
        font-size: 1.75rem;
    }

    .projects-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr;
        /*1fr 1fr;*/
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: var(--main-color);
    }

    .proj-1 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .proj-2 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .proj-3 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .project-name {
        font-size: 2.5rem;
        padding: 16px;
    }

    .tech-used {
        font-size: 2rem;
        margin-top: -16px;
        padding-left: 16px;
    }

    .project-desc {
        font-size: 1.5rem;
        margin-top: -16px;
        padding: 32px;
    }

    .project-img {
        height: 350px;
        width: 350px;
        border-radius: 10px;
        border: 8px double var(--neon-yellow-center);
        box-shadow: 0px 0px 8px 2px var(--neon-yellow);
        align-self: center;
        margin: 20px;
    }

    .demo-imgs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }

    .info-buttons {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .yellow-button {
        background-color: var(--main-color);
        color: var(--neon-yellow-center);
        text-shadow: var(--neon-yellow) 1px 0 8px;
        border: 4px double var(--neon-yellow-center);
        box-shadow: 0px 0px 8px 2px var(--neon-yellow);
        width: 120px;
        border-radius: 10px;
        padding: 8px;
        font-size: 1.5rem;
        transition: 0.7s ease;
        margin: 0px 30px;
    }

    .yellow-button:hover {
        background-color: var(--neon-yellow-center);
        color: var(--main-color);
        text-shadow: var(--neon-yellow) 1px 0 8px;
        border: 4px double var(--neon-yellow-center);
        box-shadow: 0px 0px 8px 2px var(--neon-yellow);
        border-radius: 10px;
        padding: 8px;
        font-size: 1.5rem;
        transition: 0.7s ease;
        cursor: pointer;
    }

    .contact-div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .contact-headline {
        grid-area: 1 / 1 / 2 / 2;
        justify-content: center;
        align-items: center;
        margin: 20px;
        height: 6rem;
        animation: flicker 7s infinite ease-in;
        animation-delay: 3s;
        padding-top: -16px;
        /* border: 4px double var(--neon-green-center); */
    }


    .contact-link {
        height: 250px;
        width: 250px;
        padding: 16px;
    }
}


.home-content {
    border-radius: 10px;
    border-style: double;
    border-width: 4px;
    border-color: var(--neon-yellow-center);
    box-shadow: 0px 0px 8px 2px var(--neon-yellow);
    background-color: var(--main-color);
}



.list-element:first-child {
    padding-top: none;
}

.list-element:last-child {
    margin-bottom: 20px;
}

.list {
    list-style-type: circle;
    margin-left: 20px;
}


.links {
    grid-area: 2 / 1 / 3 / 2;
    /* border: 4px double var(--neon-yellow-center); */
    padding-top: 20px;
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;
    animation: fade-in 1.5s ease-in;
}


.icon {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--main-color);
    border-radius: 10px;
    border: 16px double var(--neon-pink-center);
    box-shadow: 0px 0px 18px 2px var(--neon-pink);
    transition: 0.7s ease;
}

.icon:hover {
    transform: scale(1.1) translateY(-10px);
    border: 16px double var(--neon-yellow-center);
    box-shadow: 0px 0px 18px 2px var(--neon-yellow);
}

#linkedin {
    padding: 16px;
}

#github {
    padding: 16px;
}


.from-left {
    animation: slide-from-left ease-in-out 1.5s;
}

.from-right {
    animation: slide-from-right ease-in-out 1.5s;
}

.small-heading {
    font-size: 3rem;
    text-align: center;
    padding: 16px;
}

.green-text {
    color: var(--neon-green-center);
    text-shadow: var(--neon-green) 1px 0 6px;
}

.blue-text {
    color: var(--neon-blue-center);
    text-shadow: var(--neon-blue) 1px 0 8px;
}

.pink-text {
    color: var(--neon-pink-center);
    text-shadow: var(--neon-pink) 1px 0 8px;
}

.yellow-text {
    color: var(--neon-yellow-center);
    text-shadow: var(--neon-yellow) 1px 0 8px;
}

.neon-block {
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    border-color: var(--neon-yellow-center);
    box-shadow: 0px 0px 8px 2px var(--neon-yellow);
    margin: 20px;
}

.neon-block-pink {
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    border-color: var(--neon-pink-center);
    box-shadow: 0px 0px 8px 2px var(--neon-pink);
    margin: 20px;
}

.neon-block-blue {
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    border-color: var(--neon-blue-center);
    box-shadow: 0px 0px 8px 2px var(--neon-blue);
    margin: 20px;
}

.neon-block-green {
    border-radius: 10px;
    border-style: double;
    border-width: 10px;
    border-color: var(--neon-green-center);
    box-shadow: 0px 0px 8px 2px var(--neon-green);
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    margin-top: auto;
    height: 150px;
    width: 100%;
    animation: slide-from-bottom ease-in-out 1.5s;
    background-color: var(--main-color);
    border-top: double;
    border-width: 4px;
    border-color: var(--neon-pink-center);
    box-shadow: 0px 0px 8px 2px var(--neon-pink);
}

.footer-text {
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
}

.placeholder {
    padding: 40px;
    background-color: greenyellow;
}

.placeholder-0 {
    padding: 40px;
    background-color: var(--accent-purple);
}

.placeholder-1 {
    padding: 40px;
    background: linear-gradient(var(--accent-purple) 0%, var(--main-color) 100%);
}

.placeholder-2 {
    padding: 40px;
    background: linear-gradient(var(--main-color) 0%, var(--accent-purple) 100%);
}