/* Styles for personal website */
:root {
    /* Main Theme */
    --main-bg-color: #d7d7d7;
    /* Header Colors */
    --nav-bg-color: #0a5539;
    --link-color: #c6c6c6;
    --link-hover-color: #000000;
    --box-shadow-color: #000000;
}

body {
    background-color: var(--main-bg-color);
    font-family: Tahoma;
}

ul {
    list-style-type: initial;

}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    background-color: var(--nav-bg-color);
    padding: 10px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    border-radius: 10px;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-elements {
    display: inline;
    margin-right: 20px;
}

.menu-text {
    text-decoration: none;
    color: #F0F0F0;
    font-weight: bold;
    font-size: 16px;
}

.menu-text:hover {
    color: var(--link-hover-color);
}

.intro-text {
    flex: 1;
    padding: 20px; 
}

.intro-text .int-link {
    color: #009f35; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.intro-text .int-link:hover {
    color: #000000; 
    text-decoration: none; 
}

.intro-text .ext-link {
    color: #009f35;
    text-decoration: underline;
    transition: color 0.3s ease; 
}

.intro-text .ext-link:hover {
    color: #274432;
    text-decoration: none; 
}

.container {
    justify-content: center; 
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
}

.title {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 90%;
    height: 100%;
    background-color: #f0f0f0;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
}

.box-title {
    text-align: left;
    margin: 0; 
    padding: 20px 0px 0px 20px;
}

.box-text {
    text-align: left;
    margin: 0; 
    padding: 20px;
}
.box-subtitle {
    text-align: left;
    margin: 0;
    padding: 0 0 0 20px;
}

.box-content {
    text-align: left;
    margin-top: 10px;
}

.box-para {
    text-align: left;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;

}
.port-link {
    padding-bottom: 20px;
    color: #009f35;
    transition: color 0.3s ease; 
}

.horizontal-line {
    border: 1px solid black; 
    
    width: 96%;
}

.course {
    padding-left: 20px;
}

.course-desc {
    padding-left: 20px;
    margin-top: 0px;
}

.underline {
    text-decoration: underline;
}

.port-box {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 90%;
    height: 100%;
    background-color: #f0f0f0;
    margin: 0px auto 30px auto;
    border-radius: 15px;
    box-shadow: 0 4px 6px var(--box-shadow-color);
}
@media only screen and (max-width: 768px) {
    .box {
        flex-direction: column; 
        align-items: left; 
        width: 90%;
        margin: 50px auto; 
        border-radius: 15px;
        box-shadow: 0 4px 6px var(--box-shadow-color);
    }

    .profile {
        order: 1; 
        width: 100%; 
        height: auto; 
        margin-bottom: 20px; 
        position: relative; 
        border-radius: 15px 15px 0 0;
    } 

    .intro-text {
        margin-top: -25px;
    }
}


@media only screen and (min-width: 769px) {
    .profile {
        border-radius: 50%;
        height: 250px;
        object-fit: cover; 
        border: 5px solid var(--nav-bg-color);
        box-shadow: 0 4px 6px var(--box-shadow-color);
    }
    
    .profile-box {
        display: flex;
        align-items: center; 
        width: 90%;
        height: 200px;
        background-color: white; /* Set background color to white */
        text-align: left;
        margin: 50px auto 50px auto;
        border-radius: 120px 15px 15px 120px;
        box-shadow: 0 4px 6px var(--box-shadow-color);
    }
}
